root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = off
insert_final_newline = false
trim_trailing_whitespace = false

[{*.sh, *.md, .editorconfig, .gitignore}]
insert_final_newline = true

[*.sh]
trim_trailing_whitespace = true
